/* Generics */

body{
    background-color: lightgrey;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */

/* header */
.contenitore-text{
    background-color: white;
}

#logo{
    margin: 10px;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

h2, h1{
    vertical-align: middle;
    display: inline;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px
}

#title{
    font-size: 55px;
}

/* main */

#main-section-buttons{
    background-color: white;
    margin: 30px auto;
    width: 800px;
    height: 800px;
    border-radius: 20px;
}

.buttons{
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    color: white;
    text-decoration: none;
}

#first-button{
    background-color: dodgerblue;

}

#second-button{
    border: 1px solid black;
    color: black;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

/* hr{
    border-color: lightgrey;
} */

#greyline{
    height: 2px;
    background-color: lightgray;
    margin-top: 20px;
}
/* lISTS */

li{
    margin-top: 20px;
    list-style-type: none;
}

.circled{
    border: black solid 1px;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;   
}

.checked{
    font-weight: bolder;
    color: green;
    border-color: green;
}

.unchecked{
    font-size: 15px;
    color: red;
    border-color: red;
}

.pills{
    display: inline;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    color: white;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    font-size: 12px;
    
}

.blue-pill{
    background-color: dodgerblue;
}

.purple-pill{
    background-color: rgb(170, 19, 170);
}

.green-pill{
    background-color: seagreen;
}

.orange-pill{
    background-color: goldenrod;
}

.pink-pill{
    background-color: hotpink;
}

.lightgree-pill{
    background-color: rgb(93, 175, 93);
}

#main-section-lists{
    margin-left: 20px;
    margin-top: 40px;
}    
